<article>

  <body>
    <div class="table-container">
      <table>
        <thead>

          <tr>
            <th>Datum</th>
            <th>Specifikation</th>
            <th>Kund</th>
            <th>Totalpris</th>
            <th>Ex moms</th>
            <th>Moms</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td colspan="6" class="loading-message">
              Failed to load data
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </body>
</article>
</div>